doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="style.css")
    title Document
  body
    .container
      h1.title First, Click to Get Your Location
      .form-container
        button(name="coords") Get Coordinates
        form(name='food-form')
          input(placeholder='latitude', name='latitude', type='text')
          input(placeholder='longitude', name='longitude', type='text')
          input(placeholder='Type of food', name='term', type='text')
          button(type='submit', value='Submit') Submit
      table.results-table
        tr
          th Restaurant
          th Price
          th Distance
      .results
    script(src='../js/index.js')
